name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy Server
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
        run: |
          cd server
          railway link 87435885-818a-47cd-95c2-da747d5a9c45
          railway up --service c8608e6b-e98c-4030-b1fc-8547423c9984 --detach
